body {
  font-family: arial, sans-serif;
}

h1 {
  color: #70757a !important;
  font-size: 28px !important;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #70757a;
  font-size: 16px;
  font-weight: normal;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: block;
  float: left;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
